@import "tailwindcss";

:root {
   --DARK-primary-background-color: #121212;
   --DARK-secondary-background-color: #F5F5F5;
   --DARK-HOVER-background-color: #202020;
   --DARK-primary-text-color: #F5F5F5;
   --DARK-secondary-text-color: #A6A6A6;
   --DARK-third-text-color: #3D3D3D;
   --DARK-fourth-text-color: #121212;
   --DARK-primary-border-color: #3D3D3D;

   --LIGHT-primary-background-color: #F5F5F5;
   --LIGHT-secondary-background-color: #121212;
   --LIGHT-primary-text-color: #121212;
   --LIGHT-secondary-text-color: #3D3D3D;
   --LIGHT-third-text-color: #A6A6A6;
   --LIGHT-fourth-text-color: #F5F5F5;
   --LIGHT-primary-border-color: #A6A6A6;
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme {
   /* ==========[ BREAKPOINTS ]========== */
   --breakpoint-xs: 30rem; /* 480px */
   --breakpoint-3xl: 120rem; /* 1920px */

   /* ==========[ BACKGROUND ]========== */
   --color-primary-dark-bg: var(--DARK-primary-background-color);
   --color-secondary-dark-bg: var(--DARK-secondary-background-color);
   --color-primary-light-bg: var(--LIGHT-primary-background-color);
   --color-secondary-light-bg: var(--LIGHT-secondary-background-color);

   --color-primary-dark-hover-bg: var(--DARK-HOVER-background-color);

   /* ==========[ TEXT ]========== */
   --color-primary-dark-color: var(--DARK-primary-text-color);
   --color-second-dark-color: var(--DARK-secondary-text-color);
   --color-third-dark-color: var(--DARK-third-text-color);
   --color-fourth-dark-color: var(--DARK-fourth-text-color);

   --color-primary-light-color: var(--LIGHT-primary-text-color);
   --color-second-light-color: var(--LIGHT-secondary-text-color);
   --color-third-light-color: var(--LIGHT-third-text-color);
   --color-fourth-light-color: var(--LIGHT-fourth-text-color);

   --text-6\.5xl: 4rem;
   --text-10xl: 9rem;
   --text-11xl: 10rem;

   /* ==========[ FONT ]========== */
   --font-OpenSans: 'Open Sans', sans-serif;
   --font-FiraCode: 'Fira Code', monospace;

   /* ==========[ BORDER ]========== */
   --color-primary-dark-border: var(--DARK-primary-border-color);
   --color-primary-light-border: var(--LIGHT-primary-border-color);
}

@layer base {
   body {
      @apply dark:bg-primary-dark-bg bg-primary-light-bg
   }
}