@import "tailwindcss";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

:root {   
   --primary-background-color: #F5F5F5;
   --secondary-background-color: #121212;
   --HOVER-background-color: #202020;
   --primary-text-color: #121212;
   --secondary-text-color: #3D3D3D;
   --third-text-color: #A6A6A6;
   --fourth-text-color: #F5F5F5;
   --primary-border-color: #A6A6A6;

   @variant dark {
      --primary-background-color: #121212;
      --secondary-background-color: #F5F5F5;
      --HOVER-background-color: #202020;
      --primary-text-color: #F5F5F5;
      --secondary-text-color: #A6A6A6;
      --third-text-color: #3D3D3D;
      --fourth-text-color: #121212;  
      --primary-border-color: #3D3D3D;
   }
}

@layer base {
   body {
      @apply bg-primary-bg
   }
}

@theme inline {
   /* ==========[ BREAKPOINTS ]========== */
   --breakpoint-xs: 30rem; /* 480px */
   --breakpoint-3xl: 120rem; /* 1920px */

   /* ==========[ BACKGROUND ]========== */
   --color-primary-bg: var(--primary-background-color);
   --color-secondary-bg: var(--secondary-background-color);

   --color-primary-hover-bg: var(--HOVER-background-color);

   /* ==========[ TEXT ]========== */
   --color-primary-color: var(--primary-text-color);
   --color-second-color: var(--secondary-text-color);
   --color-third-color: var(--third-text-color);
   --color-fourth-color: var(--fourth-text-color);

   --text-4\.5xl: 2.5rem; /* 40px */
   --text-6\.5xl: 4rem;
   --text-10xl: 9rem;
   --text-11xl: 10rem;

   /* ==========[ FONT ]========== */
   --font-OpenSans: 'Open Sans', sans-serif;
   --font-FiraCode: 'Fira Code', monospace;

   /* ==========[ BORDER ]========== */
   --color-primary-border: var(--primary-border-color);
}
